html {
    color: #222;
    font-family: Cantarell, sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 32px auto;
    max-width: 600px;
}

h1, h2, h3 {
    line-height: 1.2;
}

address {
    font-size: 1.2em;
}

.nowrap {
    whitespace: nowrap;
}

table {
    margin: 1.5em auto;
    padding: 0;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid #aaa;
    padding: 5px;
}

img {
    max-width: 100%;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    text-align: center;
}

.page-break-before {
    page-break-before: always;
}

pre {
    font-size: .65em;
    text-align: left;
}

code {
    white-space: pre;
}

.equation {
    margin: 0 2em;
    line-height: 1;
}

table.small {
    font-size: 60%;
}
